<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title><%= page.title %></title>

    <!-- Bootstrap core CSS -->
    <link href="~/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="~/css/carousel.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="//oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="//oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
    
    <script src="~/js/jquery-1.10.2.min.js"></script>
  </head>
<!-- NAVBAR
================================================== -->
  <body>
    <div class="navbar-wrapper">
      <div class="container">

        <div class="navbar navbar-inverse navbar-static-top">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="~/">Swan Love</a>
            </div>
            <div class="navbar-collapse collapse">
              <%= Scms.renderView("_layouts/nav.erb", page) %>
              <ul class="nav navbar-nav navbar-right">
                <li>
                  <a href="https://swanlove.wufoo.com/forms/z1u277000phlf3s/" class="amodal" data-title="Get in Touch">Contact &nbsp; &nbsp;</a>
                </li>
              </ul>
            </div>
          </div>
        </div>

      </div>
    </div>

    <%= page.views["carousel"] %>

    <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->

    <div class="container marketing">

      <%= page.views["main"] %>

      <hr class="featurette-divider">

      <!-- /END THE FEATURETTES -->


      <!-- FOOTER -->
      <footer>
        <p class="pull-right"><a href="#">Back to top</a></p>
        <p>&copy; 2014 Swan Love. &middot; Sponsors: <a href="http://www.ipassexam.com" target="_blank">iTutor Ltd</a>, <a href="http://www.snowballdigital.co.uk" target="_blank">Snowball Digital Ltd</a>, <a href="http://www.ignitepyro.com" target="_blank">Ignite Pyrotechnics Ltd</a></p>
      </footer>

    </div><!-- /.container -->

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/js/jquery.cookie.js"></script>
    <script>
      $(function(){
        try {
          var firstRun = $.cookie('first_visit');

          if(firstRun == undefined){
            $.cookie('first_visit', false, { expires: 31, path: '/' });

            var v = document.getElementsByTagName("audio")[0];
            if(v != null){
              v.play();
            }
          }
        }
        catch(err) {
          console.log(err);
        }

      });
    </script>
    
    <%= Scms.renderView("_layouts/contact-modal.erb", page) %>

    <%= page.monkeyhook %>
    <%= page.livereload %>
  </body>
</html>
