<!-- START THE FEATURETTES -->
<div class="row featurette">
	<%= Scms.renderView("_pages/index/featurette1.html", page) %>
</div>

<hr class="featurette-divider" />
<div class="row featurette">
	<%= Scms.renderView("_pages/index/featurette2.html", page) %>
</div>

<hr class="featurette-divider" />
<div class="row featurette">
	<%= Scms.renderView("_pages/index/featurette3.html", page) %>
</div>

<hr class="featurette-divider" />
<div class="row featurette">
	<%= Scms.renderView("_pages/index/twitter.erb", page) %>
</div>

<%= Scms.renderView("_pages/index/social.erb", page) %>
