<!-- START THE FEATURETTES -->
<div class="row featurette">
	<%= Scms.renderView("_pages/index/swanlove.html", page) %>
</div>

<!--
<hr class="featurette-divider" />
<div class="row featurette">
	<%= Scms.renderView("_pages/index/sponsors.html", page) %>
</div>
//-->

<hr class="featurette-divider" />
<div class="row featurette">
	<%= Scms.renderView("_pages/index/event-mean-streets.html", page) %>
</div>

<hr class="featurette-divider" />
<div class="row featurette">
	<%= Scms.renderView("_pages/index/twitter.erb", page) %>
</div>

<%= Scms.renderView("_pages/index/social.erb", page) %>
